<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.company.mapper.CompanyMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.company.pojo.domain.Company">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="founderId" column="founder_id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="industry" column="industry" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="postalCode" column="postal_code" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,founder_id,
        url,industry,size,
        address,postal_code,create_time,
        is_deleted
    </sql>

    <select id="selectMyCompany" resultType="cn.edu.szu.company.pojo.domain.Company">
        SELECT c.id as id, c.name as name, c.founder_id as founder_id, c.url as url, c.industry as industry, c.size as size, c.address as address, c.postal_code as postal_code, c.create_time as create_time, c.is_deleted as is_deleted
        FROM wt_company.wt_company c
        INNER JOIN wt_company.wt_company_user cu ON c.id = cu.company_id
        WHERE cu.user_id = #{uid} AND cu.is_deleted = 0 AND c.is_deleted = 0;
    </select>
</mapper>
