<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.company.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.company.pojo.domain.Department">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="manager_num" column="manager_num" jdbcType="BIGINT"/>
            <result property="describe" column="describe" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,company_id,
        name,manager_id,describe,
        create_time,is_deleted,manager_num
    </sql>
    <select id="selectHighestDeptByCompanyId" resultType="cn.edu.szu.company.pojo.DeptDTO" parameterType="java.lang.Long">
        select *
        from wt_company.wt_department
        where company_id = #{companyId} and parent_id is null and is_deleted=0
    </select>

    <select id="selectDeptsByParentId" resultType="cn.edu.szu.company.pojo.DeptDTO" parameterType="java.lang.Long">
        select *
        from wt_company.wt_department
        where parent_id = #{parentId} and is_deleted=0
    </select>
</mapper>
