<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.company.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.company.pojo.domain.Department">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="job" column="job" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,company_id,
        name,manager_id,introduction,
        create_time,is_deleted,job,num
    </sql>

    <select id="selectHighestDeptByCompanyId" resultType="cn.edu.szu.company.pojo.DeptDTO" parameterType="java.lang.Long">
        select *
        from wt_company.wt_department
        where company_id = #{companyId} and parent_id is null and is_deleted=0
    </select>

    <select id="selectDeptsByParentId" resultType="cn.edu.szu.company.pojo.DeptDTO" parameterType="java.lang.Long">
        select *
        from wt_company.wt_department
        where parent_id = #{parentId} and is_deleted=0
    </select>

    <select id="selectIdByName" resultType="java.lang.Long" parameterType="java.lang.String">
        select id
        from wt_company.wt_department
        where name = #{name} and is_deleted=0
    </select>

    <select id="selectDeptByCompanyId" resultType="cn.edu.szu.company.pojo.domain.Department" parameterType="java.lang.Long">
        select *
        from wt_company.wt_department
        where company_id = #{companyId} and is_deleted=0
    </select>

    <update id="updateDept" parameterType="cn.edu.szu.company.pojo.DeptDTO">
        update wt_company.wt_department
        <set>
            <if test="name!= null">
                name = #{name},
            </if>
            <if test="managerId!= null">
                manager_id = #{managerId},
            </if>
            parent_id=#{parentId}
            where id=#{id}
        </set>
    </update>

    <select id="selectAllByCompanyId" resultType="cn.edu.szu.company.pojo.MemberDTO">
        SELECT cu.user_id AS id, dept.name AS deptName
        FROM wt_company.wt_company_user cu
                 INNER JOIN wt_company.wt_department dept ON dept.id = cu.dept_id
        WHERE cu.company_id = #{companyId}
    </select>
</mapper>
