<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.company.mapper.GroupMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.company.pojo.domain.Group">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="memberNum" column="member_num" jdbcType="INTEGER"/>
            <result property="deptNum" column="dept_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_id,name,
        manager_id,description,member_num,
        dept_num,create_time,is_deleted
    </sql>
    <select id="selectMyGroup" resultType="cn.edu.szu.company.pojo.domain.Group">
        SELECT g.id as id, g.company_id as company_id, g.name as name, g.manager_id as manager_id, g.description as description, g.member_num as member_num, g.dept_num as dept_num, g.create_time as create_time, g.is_deleted as is_deleted
        FROM wt_company.wt_group g
        INNER JOIN wt_company.wt_group_user gu ON g.id = gu.group_id
        WHERE gu.user_id = #{uid} AND g.company_id = #{cid} AND g.is_deleted = 0 AND gu.is_deleted = 0;
    </select>
</mapper>
