<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.user.mapper.Company_MemberMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.user.pojo.Company_User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="user_id" column="user_id" jdbcType="BIGINT"/>
        <result property="company_id" column="company_id" jdbcType="BIGINT"/>
        <result property="join_time" column="join_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,company_id,join_time
    </sql>

    <!--根据公司ID查询用户ID集合-->
    <select id="selectUserIdByCID"  parameterType="java.lang.Integer">
        select user_id
        from wt_company_user
        where company_id=#{company_id}
    </select>


</mapper>
