<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.user.pojo.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,name,
        phone,sex,avatar,
        last_login_time,create_time
    </sql>
</mapper>
