/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body,
html {
    height: 100%;
    background: #f8f9fa;
}

/* Sidebar Styles */
.sidebar {
    background-color: #333f50;
    /* Darker shade for sidebar */
    color: white;
    width: 200px;
    /* Adjusted width */
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 130px;
    font-size: 13px;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li .arrow {
    position: absolute;
    right: 20px;
    margin-top: 4px;
}

.sidebar ul li.submenu ul {
    display: none;
    padding-left: 10px;
}

.sidebar ul li.submenu.active>a {
    color: #3498db;
}

.sidebar ul li.submenu.active ul {
    display: block;
}

.sidebar ul li.submenu ul li a {
    color: #9fc6e0b3;
    padding-left: 15px;
    font-weight: normal;
}

.sidebar ul li.submenu ul li a:hover,
.sidebar ul li.submenu ul li a.active {
    color: #3498db;
}

.sidebar ul li.submenu ul li:nth-child(2) a {
    color: #3498db;
    /* 设置链接文字颜色 */
}

/* Top Bar Styles */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-left: 200px;
    /* Same width as sidebar */
}

.breadcrumbs {
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

.teamwork-icon i {
    font-size: 24px;
    color: #2c3e50;
}

/* Content Styles */
.content {
    margin-left: 200px;
    /* Same width as sidebar */
    padding: 20px;
}

/* Search and Filter Box */
.search-filter-box,
.data-list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box i {
    margin-right: 5px;
    color: #333;
}

.search-box input[type="text"] {
    border: none;
    padding: 5px 10px;
    width: 800px;
}

.btn-primary {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Data List Box */
.data-list-box {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
}

.data-list-title {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.data-list-title .fa-list {
    margin-right: 12px;
}

.btn-secondary {
    padding: 5px 10px;
    background-color: #88bbe7;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 15px;

}

/* Separator Style */
.separator {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    /* Spacing above the separator */
    margin-bottom: 10px;
    /* Spacing below the separator */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    /* Spacing above the table */
}

table,
th,
td {
    border: 1px solid #ccc;
    font-size: 13px;
    text-align: center;
}

th {
    background-color: #0f6096ed;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/* Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-container .assign_menu {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: #409EFF;
    border: none;
    cursor: pointer;
}

.button-container .assign_resource {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: #409EFF;
    border: none;
    cursor: pointer;
}

.button-container .edit_button {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: gray;
    border: none;
    cursor: pointer;
}

.button-container .delete_button {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: #cd320f;
    border: none;
    cursor: pointer;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {

    .sidebar,
    .top-bar,
    .content {
        width: 100%;
        position: relative;
    }

    .sidebar {
        height: auto;
    }

    .top-bar {
        margin-left: 0;
    }

    .content {
        margin-left: 0;
    }

    .search-filter-box,
    .data-list-box {
        flex-direction: column;
        align-items: stretch;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
        margin-top: 10px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

/* FontAwesome Icon Adjustment */
[class^="fas"],
[class*=" fas"] {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* IOS */
.ios-switch {
    position: relative;
    appearance: none;
    cursor: pointer;
    transition: all 100ms;
    border-radius: 31px;
    width: 60px;
    height: 24px;
    background-color: #e9e9eb;
}

.ios-switch {
    &::before {
        position: absolute;
        content: "";
        transition: all 300ms cubic-bezier(.45, 1, .4, 1);
        border-radius: 31px;
        width: 60px;
        height: 24px;
        background-color: #e9e9eb;
    }
}

.ios-switch {
    &::after {
        position: absolute;
        left: 3px;
        top: 3px;
        border-radius: 27px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgba(#000, .3);
        content: "";
        transition: all 300ms cubic-bezier(.4, .4, .25, 1.35);
    }
}

.ios-switch {
    &:checked {
        background-color: #5eb662;

        &::before {
            transform: scale(0);
        }

        &::after {
            transform: translateX(36px);
        }
    }
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
    width: 750px;
    height: 450px;
    opacity: 0;
    /* 初始透明度为0 */
    transition: opacity 0.3s ease;
    /* 设置渐变动画 */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}

.add_title {
    line-height: 20px;
    font-size: 18px;
    color: #303133;
}

.rolename {
    padding-top: 50px;
    width: 750px;
    margin-left: 55px;
    display: inline-block;
}

.rolenameinput {
    margin-left: 10px;
    height: 35px;
    width: 250px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    padding-left: 2px;
}

.rolenameinput:focus {
    border-color: #3498db;
    outline: none;
}

.role_describtion {
    padding-top: 20px;
    padding-left: 87px;
    display: flex;
    align-items: flex-start;
}

.describtioninput {
    margin-left: 15px;
    height: 125px;
    width: 250px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    padding-left: 2px;
    padding-top: 3px;
    display: block;
    resize: vertical;
}

.describtioninput:focus {
    border-color: #3498db;
    outline: none;
}

.choosestatus {
    padding-top: 20px;
    padding-left: 55px;
    display: flex;
    align-items: flex-start;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 其他浏览器的兼容性样式 */
    vertical-align: middle;
    padding-left: 15px;
}

input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #24222221;
    /* 设置边框样式 */
    margin-right: 8px;
    margin-top: 4px;
    cursor: pointer;
}

/* 当单选按钮被选中时的样式 */
input[type="radio"]:checked::before {
    background-color: #409EFF;
    /* 选中时的背景颜色 */
    border-color: transparent;
    /* 设置边框颜色为透明 */
}

/* 当单选按钮被禁用时的样式 */
input[type="radio"]:disabled::before {
    background-color: #ccc;
    /* 设置禁用时的背景颜色 */
}

/* 在单选按钮选中时同时修改相邻文本的颜色 */
input[type="radio"]:checked+label {
    color: #409EFF;
    /* 选中时的文字颜色 */
}

label[for="yes"] {
    cursor: pointer;
}

label[for="no"] {
    cursor: pointer;
}

.confirmbutton {
    margin-left: 620px;
    margin-top: 60px;
}

.confirm {
    width: 60px;
    height: 32px;
    background-color: #409EFF;
    color: white;
    border: 2px solid #409EFF;
    border-radius: 4px;
    cursor: pointer;
}
.confirmEdit {
    width: 60px;
    height: 32px;
    background-color: #409EFF;
    color: white;
    border: 2px solid #409EFF;
    border-radius: 4px;
    cursor: pointer;
}

.confirmbuttonEdit {
    margin-left: 620px;
    margin-top: 100px;
}