/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body, html {
    height: 100%;
    background: #f8f9fa;
  }
  
  /* Sidebar Styles */
  .sidebar {
    background-color: #333f50; /* Darker shade for sidebar */
    color: white;
    width: 200px; /* Adjusted width */
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width:130px;
    font-size:13px;
  }
  
  .sidebar ul li a i {
    margin-right: 10px;
  }
  
  .sidebar ul li .arrow {
    position: absolute;
    right: 20px;
    margin-top:4px;
  }
  
  .sidebar ul li.submenu ul {
    display: none;
    padding-left: 10px;
  }
  
  .sidebar ul li.submenu.active > a {
    color: #3498db;
  }
  
  .sidebar ul li.submenu.active ul {
    display: block;
  }
  
  .sidebar ul li.submenu ul li a {
    color: #9fc6e0b3;
    padding-left: 15px;
    font-weight: normal;
  }
  
  .sidebar ul li.submenu ul li a:hover,
  .sidebar ul li.submenu ul li a.active {
    color: #3498db;
  }
  
  /* Top Bar Styles */
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-left: 200px; /* Same width as sidebar */
  }
  
  .breadcrumbs {
    font-size: 13px;
    color: #333;
    font-weight:600;
  }
  
  .teamwork-icon i {
    font-size: 24px;
    color: #2c3e50;
  }
  
  /* Content Styles */
  .content {
    margin-left: 200px; /* Same width as sidebar */
    padding: 20px;
  }
  
  /* Search and Filter Box */
  .search-filter-box,
  .data-list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box i {
    margin-right: 5px;
    color: #333;
  }
  
  .search-box input[type="text"] {
    /* border: none; */
    //border-color: #dcdfe6;
    padding: 5px 10px;
    width: 200px !important;
  }
  
  .btn-primary {
    padding: 5px 10px;
    background-color: #409EFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Data List Box */
  .data-list-box {
    display: flex;
    height:50px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .data-list-title {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  
  .data-list-title .fa-list {
    margin-right:12px;
  }
  
  .btn-secondary {
    padding: 5px 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
    margin-right:15px;
  }
  
  /* Separator Style */
  .separator {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px; /* Spacing above the separator */
    margin-bottom: 10px; /* Spacing below the separator */
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Spacing above the table */
  }
  
  table, th, td {
    border: 1px solid #ccc;
    font-size:14px
  }
  
  th {
    background-color: #0f6096ed;
    color: white;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    /* padding-left: 4%; */
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f8f9fa;
  }

  /* IOS */
  .ios-switch {
    position: relative;
    appearance: none;
    cursor: pointer;
    transition: all 100ms;
    border-radius: 31px;
    width: 60px;
    height: 24px;
    background-color: #e9e9eb;
  }

  .ios-switch {
    &::before {
        position: absolute;
        content: "";
        transition: all 300ms cubic-bezier(.45, 1, .4, 1);
        border-radius: 31px;
        width: 60px;
        height: 24px;
        background-color: #e9e9eb;
    }
  }

  .ios-switch {
    &::after {
        position: absolute;
        left: 3px;
        top: 3px;
        border-radius: 27px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        box-shadow: 1px 1px 5px rgba(#000, .3);
        content: "";
        transition: all 300ms cubic-bezier(.4, .4, .25, 1.35);
    }
  }

  .ios-switch {
    &:checked {
        background-color: #5eb662;
        &::before {
            transform: scale(0);
        }
        &::after {
            transform: translateX(36px);
        }
    }
  }
  
  /* Button Styles */
  .button-container {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    border: none;
  }

  .button-container .assign_roles {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: #409EFF;
    border: none;
    cursor: pointer;
  }
  
  .button-container .edit_button {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: gray;
    border: none;
    cursor: pointer;
  }
  
  .button-container .delete_button {
    /* padding: 5px 10px; */
    padding: 3% 5%;
    background-color: #f8f9fa;
    color: #cd320f;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive Design Adjustments */
  @media (max-width: 768px) {
    .sidebar,
    .top-bar,
    .content {
      width: 100%;
      position: relative;
    }
  
    .sidebar {
      height: auto;
    }
  
    .top-bar {
      margin-left: 0;
    }
  
    .content {
      margin-left: 0;
    }
  
    .search-filter-box,
    .data-list-box {
      flex-direction: column;
      align-items: stretch;
    }
  
    .btn-primary,
    .btn-secondary {
      width: 100%;
      margin-top: 10px;
    }
  
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }

    
  }
  
  /* FontAwesome Icon Adjustment */
  [class^="fas"], [class*=" fas"] {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  /* update user info */
  .shadow {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  .popup {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; 垂直居中 */
    /* align-items: center; 水平居中 */
    /* border-radius: 10px; */
    height: 25%;
    width: 20%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .poptitle {
    padding: 5%;
    line-height: 24px;
    font-size: 18px;
    color: #303133;
  }
  .poptips {
    padding: 5%;
    /* line-height: 24px; */
    font-size: 12px;
    color: #303133;
    border-color: gray;
  }
  .popbutton {
    padding: 3%;
    font-family: inherit;
    line-height: 1;
  }
  .popcancel {
    position: absolute;
    bottom: 8%;
    right: 35%; /* 调整按钮位置 */
    border: 1px solid #dcdfe6;
    background-color: #ffffff;
    color: #606266;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
  }
  .popconfig {
    position: absolute;
    bottom: 8%;
    right: 5%; /* 调整按钮位置 */
    border: 1px solid #dcdfe6;
    background-color: #409EFF;
    color: #ffffff;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
  }
    