<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.szu.auth.mapper.WtAuthMenuMapper">

    <resultMap id="BaseResultMap" type="cn.edu.szu.auth.domain.WtAuthMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="describe" column="describe" jdbcType="VARCHAR"/>
            <result property="isPublic" column="is_public" jdbcType="BIT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="isEnable" column="is_enable" jdbcType="BIT"/>
            <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
            <result property="group" column="group" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,describe,
        is_public,path,component,
        is_enable,sort_value,group,
        parent_id
    </sql>
</mapper>
